
$primary   : #1d1d1d;
$secondary : #1a667e;
$accent    : #A7ECEE;
$pink      : #e91e63;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
